<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: ">
</head>
<body>

	
	<div class="lefticon">
		<img th:src="@{/img/professor.jpg}" style="width:250px; height:auto;"/>
    </div>
	
	<div class="adder">
    	<div class="container">
    		<h1>${title}</h1>
			<form method="post" id="form_add" th:object="teacher">
			
				<input type="text" th:field="*{teacherId}" th:hidden="hidden"/>
				<label th:for="firstName">Фамилия:</label>
				<input type="text" th:field="*{firstName}" placeholder="Фамилия" id="fname" th:required="required" />
				<span id='span_fname'>*</span><br/>

				<label>Имя:</label>
				<input type="text" th:field="*{lastName}" id="lname" placeholder="Имя" th:required="required"/>
				<span id='span_lname'>*</span>
				<br/>

				<label>Отчество:</label>
				<input type="text" th:field="*{thirdName}" id="tname" placeholder="Отчество" th:required="required"/>
				<span id='span_fname'></span><br/>
		
				<label>Электронная почта:</label>
				<input type="email" th:field="*{email}" id="email" placeholder="example@mail.com" th:required="required"/>
				<span id='span_email'>*</span><br/>
				
				<label>Пароль:</label>
				<input type="password" th:field="*{password}" id="password" th:required="required"/>
				<span id='span_password'>*</span>
				<br/>
				
				<label>Должность:</label>
				<input type="text" th:field="*{position}" th:required="required"/>
				<span id="span_post">*</span>
				<br/>
				
				<label>Зарплата:</label> 
				<input type="number" step="0.01" min="0" placeholder="2550.65" th:field="*{salary}" id="salary" th:required="required"/>
				<span id='span_salary'>*</span>
				<br/>
				
				<label>Стаж работы</label>
				<input type="number" step="1" min="0" placeholder="25" th:field="*{yearExperience}" id="exp" th:required="required"/>
				<span id='span_exp'>*</span>
				<br/>
				
						<!--<input type="submit"  id="send" name="buttonPressed" value="Change" />-->
						<input type="submit"  id="send" value="Добавить преподавателя" />
				<input type="reset" value="Очистить" />
			</form>
		</div>
	</div>
</body>
</html>