<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: simpleHead">

</head>

<body>
<!--include form here based on cookie-->



<div th:replace="fragments :: header"></div>

<div class="jumbotron">
    <div class="container">
        <h1>База данных "Университет"</h1>
    </div>
</div>

<div class="content">
    <div class="container">

        <section class="students-list">
            <h2>ТОП 10 студентов</h2>
            <table class="table-students" border="1">
                <tr>
             <!--       <th>ID</th>-->
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Форма обучения</th>
                    <th>Дата рождения</th>
                    <th>Дата поступления</th>
                    <th>Средняя оценка</th>
                    <th>Размер стипендии</th>
                </tr>

                <tr th:each="student : ${topStudents}">
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.thirdName}"></td>
                    <td th:if="${student.formOfStudies == 'К'}">Контракт</td>
                    <td th:if="${student.formOfStudies == 'Б'}">Бюджет</td>
                    <td th:text="${student.dateOfBirth}"></td>
                    <td th:text="${student.dateOfEntry}"></td>
                    <td th:text="${student.averageMark}"></td>
                    <td th:text="${student.scholarshipSize}"></td>
                </tr>

            </table>
            <br/>
            <hr/>
        </section>
    </div>
</div>
</body>
</html>
