<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" />
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<!--<%@include file="header.jsp" %>-->

    <div class="jumbotron">
      <div class="container">
        <h1>База данных "Университет"</h1>
      </div>
    </div> 

    <div class="content">
    	<div class="container">
      
      <section class="students-list">
			<h2>ТОП 10 студентов</h2>	
			<table class="table-students" border="1">
				<tr>
					<th>ID</th>
					<th>Фамилия</th>
					<th>Имя</th>						
					<th>Отчество</th>
					<th>Форма обучения</th>
					<th>Дата рождения</th>
					<th>Дата поступления</th>
					<th>Средняя оценка</th>
					<th>Размер стипендии</th>
				</tr>
				<!--<c:forEach var="student" items="${topStudents}">
					<tr>
						<td>${student.getIdZ()}</td>
						<td>${student.lastName}</td>
						<td>${student.firstName}</td>						
						<td>${student.thirdName}</td>
						<c:if test="${student.formOfStudies == 'K'}">
						<td>Контракт</td>
						</c:if>
						<c:if test="${student.formOfStudies == 'B'}">
						<td>Бюджет</td>
						</c:if>
						<td>${student.dateOfBirth}</td>
						<td>${student.dateOfEntry}</td>
						<td>${student.avarageMark}</td>
						<td>${student.scolarshipSize}</td>
					</tr>
				</c:forEach>-->
			</table>
			<br/><hr/>
		</section>
      </div>
    </div>
</body>
</html>
